.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #222;
    color: white;
    text-align: center;
    box-sizing: border-box;
    /* Info */
    &-info {
        padding-bottom: 50px;
        border-bottom: solid #444 2px;
        &-logo {
            padding-top: 90px;
            img {
                width: 200px;
                height: 55px;
            }
        }
        &-des {
            text-align: center;
            .text-footer();
            padding: 40px;
        }
        &-social {
            .is {
                text-align: center;
                .text-footer();
                padding: 0 15px;
            }
            .is:hover {
                color: @main-color;
            }
        }
    }
    /* Colum Content */
    &-content {
        margin-top: 40px;
        .col-content {
            .col(25%);
            text-align: left;
            &-title {
                .font-bold(18px);
                margin: 25px 0;
                color: @main-color;
                text-transform: uppercase;
            }
            &-item, a {
                color: @text-des;
                font-size: 14px;
                margin: 25px 0;
            }
            &-item:hover, a:hover {
                color: @main-color;
            }
            .fas {
                padding-right: 10px;
            }
        }
    }
    /* Copyright */
    .copyright {
        background-color: @item-color;
        font-size: 14px;
        color: @text-des;
        text-align: center;
        padding: 20px;
    }
}